code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;
}

header {
	background-color: #000;
	position: relative;
	width: 200px;
	height: 200px;
	top: 0px;
	left: 0px;
	margin: 0 1.5% 25px 1.5%;
}
section,
aside,
footer {
	display: inline-block;
	background-color: #000;
	position: relative;
	width: 100px;
	height: 100px;
	top: 250px;
	left: 250px;
	margin: 0 1.5% 25px 1.5%;
	overflow: hidden;
}

img {
	position: absolute;
	top: 0;
	left: 500px;
	float: right;
}

.box-set {
	overflow: auto;
}

.box {
	background: #3db34a;
	text-align: center;
	float: right;
	margin: 1.85%;
	width: 30%;
}