<h1> Welcome to this timetracking tool</h1>

<%= render("partials/sign_up") %>

<a href="/contact"> Contact Info</a>
<br><br>
<img src="/assets/beer.gif" 
alt="Guy with a computer on his head holding a beer" width="300px"; height="300px">


<p>Ironhack Powered</p>