<html>

<body>
<% if Date.today.tuesday? %>
<p>
Dangerous Daniel is <b>DEF</b> a fan of Tuesdays like today.</p>
<% end %>
You are reading about the man formally known as Daniel Barenboim. <br>
Some of his greatest accomplishments have included but are not limited to:<br>
-Making a bomb-ass joke at a public event which made 3 people laugh<br>
-Picking up a dollar that fell out of somebody's pocket AND returning it back to them<br>
-Wishing BOTH parents Happy Birthday within 3 days of their actual birthday<br>


<p> Dangerous Daniel was not born 
<%= Date.today - 1 %>.
</p>
</body>
</html>

