
<h1>Hello, world!</h1>

<ul>
	<li><a href="/high"> Hi Page </a></li>
	<li><a href="/about"> About </a></li>
	<li><a href="/recipe">Recipe </a></li>
	<li><a href="/users/danielito11">Profile: Daniel </a></li>
	<li><a href="/users/josh">Profile: Josh </a></li>
</ul>



