<h1> <%= @contact_info.name %> </h1>
<b>Address:</b> <%= @contact_info.address %> <br>
<b>Phone Number:</b> <%= @contact_info.phone_number %> <br>
<b>Email Address:</b> <%= @contact_info.email_address %> <br>
