<h1> Results Page </h1>

<h3>The word count for the sentence you typed in is: <%= @word_count %></h3>
<h3>The original text you typed in is:<br><i> <%= @text %></i></h3>
<h3>This sentence would take you <%= @read_time %> seconds to read.</h3>



<br><Br><a href="/"> Return back to the home page</a>