<h1>Movie Trivia Game</h1>
<center>
<h2>Start the game by entering a search term:

<form action="/search_imdb" method="POST"> 
<input type="text" name="word" placeholder="funny">

<button type="submit">
Go
	</button>
</form></center>